<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <p>User id: <%= post.id %></p>
    <div>
      <p><b><%= post.username %></b></p>
      <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <section>
          <label for="title"><b>Title</b></label>
          <br />
          <input id="title" name="title" placeholder="Title" style="width: 300px" value="<%= post.title %>" />
        </section>
        <br />
        <section>
          <label for="content"><b>Content</b></label>
          <br />
          <textarea id="content" name="content" cols="30" rows="5" placeholder="Content" style="width: 300px">
<%= post.content %></textarea
          >
        </section>
        <br />
        <button>Save</button>
      </form>
    </div>
  </body>
</html>
